.board-container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  top: 50%;
}

.board {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  top: 50px;
  text-align: center;
}

.win-card {
  border: 3px solid green;
  padding: 5px;
  text-align: center;
}

.square {
  width: 60px;}